.cabecalhoCadastro {
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cabecalhoCadastro .sigla, .subtitle{
  color:  var(--blue-500);
}

.cabecalhoCadastro img {
  width: 80px;
}

.cabecalhoCadastro p {
  text-align: center;
}