.cabecalhoCadastro {
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 9rem;
}

.cabecalhoCadastro img {
  width: 80px;
}

.cabecalhoCadastro p {
  text-align: center;
}