.cabecalhoLogin {
  /* background-color: red; */
  color: var(--blue-500);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 70vh;
}

.cabecalhoLogin img {
  width: 80px;
}

.cabecalhoLogin p {
  text-align: center;
}