.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.video .vimeo {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 8px var(--blue-600);

  width: 280px;
  height: 158px;
}

/* Instagram */
.video blockquote {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}