.event {
  width: 100%;
  background-color: var(--blue-200);
  border-radius: 6px;

  margin-bottom: 1rem;
}

.event>.title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  cursor: pointer;
}

.subtitle{
  /* background-color: green; */
  text-align: center;
}

.arrow {
  width: 30px;
  height: 30px;

  fill: #f4f4f4;
  background-color: var(--blue-400);
  border-radius: 50%;
}

.content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listContent {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  gap: 3rem;
}

.active {
  /* ou o que precisar */
  height: auto;
  opacity: 1;
  padding: 1rem;

  background-color: var(--blue-100);
  border-radius: 0px 0px 6px 6px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 2px solid var(--blue-200);
}