.event {
  background-color: var(--blue-200);
  border-radius: 6px;
}

.event>.title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  cursor: pointer;
}

.arrow {
  width: 30px;
  height: 30px;

  fill: #f4f4f4;
  background-color: var(--blue-400);
  border-radius: 50%;
}

.content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listContent {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.video iframe {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 8px var(--blue-600);

  width: 280px;
  height: 158px;
}

.contentFiles {
  margin-inline: 1rem;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contentFiles>.files {
  height: 158px;
  width: 280px;

  border: 2px solid var(--blue-300);
  border-radius: 4px;
  background-color: var(--blue-50);

  padding-inline: 8px;

  overflow-y: auto;
}

.contentFiles>.files::-webkit-scrollbar {
  width: 12px;
}

.contentFiles>.files::-webkit-scrollbar-track {
  background-color: var(--blue-400);
  border-radius: 20px;
}

.contentFiles>.files::-webkit-scrollbar-thumb {
  background-color: var(--blue-200);
  border-radius: 20px;
  border: 2px solid var(--blue-400);
}

.active {
  /* ou o que precisar */
  height: auto;
  opacity: 1;
  padding: 1rem;

  background-color: var(--blue-100);
  border-radius: 0px 0px 6px 6px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 2px solid var(--blue-200);
}