.videosVimeo {
  /* background-color: red; */
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: auto;
  max-width: 100vw;
}

/* cada conjunto de subtítulo + vídeo */
.videosVimeo .video {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* cada card de vídeo */
.videosVimeo .vimeo {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 8px var(--blue-600);

  height: 158px;
  width: 280px;
}