.container {
  margin-top: 150px;
  margin-bottom: 60px;
  padding-inline: 1.5rem;
  padding-block: 1.5rem 3rem;

  width: 100%;

  /* background-color: red; */
}

@media (max-width: 768px) {
  .container {
    margin-top: 80px;
  }
}