.home {
  color: var(--blue-500);
}

.home > h2 {
  text-align: center;
  padding-block: 1.5rem;
}

.home .paragrafos {
  text-align: justify;
  font-size: 20px;
  text-indent: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 196px) {
  .home .paragrafos {
    font-size: 12px;
  }
}