.formCadastro {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 16px;

  width: 100%;
  max-width: 900px;
  margin: 1rem auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.formCadastro:hover {
  transform: translateY(-4px);
}

.title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fieldFull {
  grid-column: 1 / -1;
}

.field label {
  font-size: 0.85rem;
  color: #666;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 12px;
  color: #999;
  font-size: 0.9rem;
}

.input {
  width: 100%;
  padding: 0.7rem 0.9rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  border: 1px solid #e0e0e0;
  border-radius: 8px;

  font-size: 0.95rem;
  background-color: #fafafa;

  transition: all 0.25s ease;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15);
}

.inputWrapper:focus-within .icon {
  color: #007bff;
}

.field:focus-within label {
  color: #007bff;
}

.input::placeholder {
  color: #bbb;
  font-size: 0.85rem;
}

.input[type="file"] {
  cursor: pointer;
}

.eye {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #999;
  font-size: 0.9rem;
  transition: 0.2s;
}

.eye:hover {
  color: #007bff;
}

.error {
  color: #e63946;
  font-size: 0.75rem;
}

.button {
  grid-column: 1 / -1;

  padding: 0.9rem;
  border: none;
  border-radius: 10px;

  /* background: linear-gradient(135deg, #007bff, #0056b3); */
  background: green;
  color: #fff;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover, .buttonBack:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 18px rgba(0, 123, 255, 0.3);
}

.buttonBack {
  grid-column: 1 / -1;

  padding: 0.9rem;
  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;

  font-size: 1rem;
  font-weight: 600;

  text-align: center;
  text-decoration: none;

  cursor: pointer;
  transition: 0.3s;
}

.button:disabled {
  background: #bbb;
  cursor: not-allowed;
  box-shadow: none;
}

@media (max-width: 768px) {
  .formCadastro {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .formCadastro {
    padding: 1.5rem;
    margin: 1rem;
  }

  .title {
    font-size: 1.4rem;
  }
}