.rodape {
  min-width: 100%;
  height: 60px;

  background-color: var(--blue-100);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--blue-500);
  font-weight: bold;

  position: fixed;
  bottom: 0;

  box-shadow: 0 0 8px var(--blue-500);
}

.rodape span {
  position: absolute;
  right: 10px;
  color: var(--blue-300);
}

.rodape a {
  color: var(--blue-300);
  text-decoration: underline;
  transition: color 0.5s;
}

.rodape a:hover {
  color: var(--blue-500);
}

@media (max-width: 972px) {
  .rodape {
    text-align: center;
  }

  .rodape span {
    font-size: 10px;
    bottom: 2px;
    right: 5px;

    display: block;
    width: 100%;
  }
}

@media (max-width: 551px) {
  .escola {
    padding-bottom: 8px;
  }
}

@media (max-width: 278px) {
  .rodape{
    font-size: 12px;
  }
}